@charset "UTF-8";

:root {

    --cor1: #FFECC7;
    --cor2: #E0CCC5;
    --cor3: #F7E6F5;
    --cor4: #9794a8;
    --cor5: #F1F6F8;
    --cor6: #EEF2F7;
    --fontepadrao: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --smooth-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),0 6.7px 5.3px rgba(0, 0, 0, 0.048),0 12.5px 10px rgba(0, 0, 0, 0.06),0 22.3px 17.9px rgba(0, 0, 0, 0.072),0 41.8px 33.4px rgba(0, 0, 0, 0.086),0 100px 80px rgba(0, 0, 0, 0.12);

}

body {
    font-family: var(--fontepadrao);
}

header > div {
    margin-bottom: -50px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    background-color: var(--cor5);
}

header > div > h1 {
    display: inline-block;
    color: black;
    font-size: 35px;
    margin-top: 5px;
    margin-left: 15px;
}

nav {
    display: inline-block;
    margin-top: -100px;
    background-color: var(--cor5);
}

nav > a {
    font-size: large;
    color: black;
    text-decoration: none;
    padding-top: 100px;
    transition: text-shadow .5s;
    margin-left: 15px;
}
nav > a:hover {
    text-shadow: .5px .5px .5px;
    transition: text-shadow .5s;
}

main {
    background-color: white;
    margin-top: 100px;
    margin-left: -8px;
    margin-right: -8px;
}

input {
    width: 70%;
    margin-left: 15%;
    border: 2px solid var(--cor4);
    box-sizing: border-box;
    border-radius: 4px;
    height: 30px;
}

input[type="text"] {
    font-size: 20px;
}

main > h1 {
    padding-left: 10%;
    margin-bottom: 50px;
}

.Artigos {
    max-width: 90%;
    margin-left: 8%;
}

.Artigos > a {
    text-decoration: none;
    margin: 20px;
    width: 200px;
    box-shadow: var(--smooth-shadow);
    border-radius: 5px;
    background: var(--cor6);
    position: relative;
    display: inline-block;
    transition: width .3s, margin .3s;
}

.Artigos > a:hover {
    width: 220px;
    margin: 10px;
    margin-top: 0px;
    transition: width .3s, margin .3s;
}

.Artigos > a > .Autor {
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    color: #9794a8;
}

.Artigos > a > img {
    width: 100%;
    margin-top: -10px;
    border-radius: 4px 4px 1px 1px ;
}

.Artigos > a > .Titulo {
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition: text-shadow .5s;
    margin-left: 15px;
}

.Artigos > a > .Previa {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: gray;
    width: 90%;
}

footer {
    background-color: var(--cor5);
    text-align: center;
    font-size: 15px;
    margin-top: 90px;
    width: 100.6%;
    height: 50px; 
    position: relative;
    display: flex;
    justify-content: center;
}